<div class="retirement-simulation-panel">
  <div class="retirement-simulation-panel-content {{ $ctrl.simulationPanelContentCssClass }}">
    <div class="retirement-simulation-panel-monthly-benefit-container" data-js="monthly-benefit-container">
      <p>
        Benefício Mensal Previsto*
      </p>
      <p class="retirement-simulation-panel-monthly-benefit-amount">
        <symbol-value data-symbol="currency">
          {{ 1500 | brlCurrency }}
        </symbol-value>
      </p>
      <p class="retirement-simulation-panel-monthly-benefit-caption">
        Conversão de 19583.53 para os valores atuais considerando a inflação informada.
      </p>
    </div>
    <div class="retirement-simulation-panel-list-container" data-js="simulation-list-container">
      <div class="retirement-simulation-panel-list-header" data-js="simulation-list-header">
        <div class="retirement-simulation-panel-item">
          <div class="retirement-simulation-panel-item-detail retirement-simulation-panel-item-detail-date">
            Mês
          </div>
          <div class="retirement-simulation-panel-item-detail retirement-simulation-panel-item-detail-deposit">
            Depósito
          </div>
          <div class="retirement-simulation-panel-item-detail retirement-simulation-panel-item-detail-profit">
            Rendimento
          </div>
          <div class="retirement-simulation-panel-item-detail retirement-simulation-panel-item-detail-balance">
            Saldo
          </div>
        </div>
      </div>
      <div class="retirement-simulation-panel-list" ng-style="$ctrl.simulationListHeight">
        <div class="retirement-simulation-panel-item" ng-repeat="month in $ctrl.simulation">
          <div class="retirement-simulation-panel-item-detail retirement-simulation-panel-item-detail-date"
            ng-bind="month.date | date : 'MM/yy'">
          </div>
          <div class="retirement-simulation-panel-item-detail retirement-simulation-panel-item-detail-deposit"
            ng-bind="month.monthlyContribution | brlCurrency">
          </div>
          <div class="retirement-simulation-panel-item-detail retirement-simulation-panel-item-detail-profit"
            ng-bind="month.monthlyProfit | brlCurrency">
          </div>
          <div class="retirement-simulation-panel-item-detail retirement-simulation-panel-item-detail-balance"
            ng-bind="month.balance | brlCurrency">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
