// Color Pallete
$color-grey-light = #F3F4F5
$color-grey = #C9D3DD
$color-grey-semi-dark = #A3A4A6
$color-purple = #690D94
$color-purple-dark = #53338C
$color-green = #11AFBB
$color-white = #FFFFFF
$color-primary = $color-purple
$color-secondary = $color-green

// Font
$font-family-primary = 'Helvetica', 'Arial', sans-serif
$font-size-xxs = 0.75em  // 12px
$font-size-xs = 0.875em  // 14px
$font-size-sm = 1em      // 16px
$font-size-md = 1.125em  // 18px
$font-size-lg = 1.25em   // 20px
$font-size-xl = 1.5em    // 24px
$font-size-xxl = 2.25em  // 36px

// Layer
$layer-base = 1
$layer-lowest = 10
$layer-low = 20
$layer-middle = 30
$layer-high = 40
$layer-highest = 50

// Animation
$animation-ease-default = cubic-bezier(0.080, 0.690, 0.485, 0.990)

// Paths
$path-images = '../images/'

// Brakpoints
$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 1024px
$screen-md-min = 1025px
$screen-md-max = 1439px
$screen-lg-min = 1440px
