@require '_mixins'

.logo-container
  float left

.logo
  float left
  width 100px
  height 20px
  background-size 100%
  background-position center bottom
  background-repeat no-repeat
  background-image('logo-positive.svg')
