@require '_variables'
@require '_mixins'

.platform-ios
  topbar
    & + viewport
      margin-top 72px
  .topbar-content
    padding 36px 0 16px
    h1
      top 20px
    .icon
      &.ion-ios-arrow-back
        display block
      &.ion-android-arrow-back
        display none
