@require '_variables'
@require '_mixins'

.range
  padding 0
  input
    margin 0 20px
    padding 0
    height 35px
    background-size 100% 1px
  input::-webkit-slider-thumb
    width: 25px;
    height: 25px;
    background $color-green
    box-shadow(none)
    &:before
      background $color-green
  input::-ms-fill-lower
    background $color-green
