@require '_variables'

.retirement-simulation-form
  padding 20px 0 75px
  text-align center
  .button-primary
    display block
    margin 0 auto
    min-width 200px

.retirement-simulation-form-item
  &:not(:last-child)
    margin-bottom 75px

.retirement-simulation-form-item-label
  font-size $font-size-xs
