@require '_variables'
@require '_mixins'

.retirement-simulation-panel
  margin 0 auto
  width 95%
  min-height 60px
  background-position center top
  background-repeat no-repeat
  background-image('loader.svg')

.retirement-simulation-panel-content
  opacity 0
  transition(all, 500ms)
  &.retirement-simulation-panel-content-loaded
    opacity 1

.retirement-simulation-panel-monthly-benefit-container
  background-color $color-white
  text-align center

.retirement-simulation-panel-monthly-benefit-amount,
  .retirement-simulation-panel-monthly-benefit-caption
  margin-top 10px

.retirement-simulation-panel-monthly-benefit-caption
  font-size $font-size-xxs

.retirement-simulation-panel-list-container
  margin-top 25px
  clearfix()

.retirement-simulation-panel-list
  overflow-y scroll
  box-sizing(border-box)

.retirement-simulation-panel-list,
.retirement-simulation-panel-item
  width 100%
  clearfix()

.retirement-simulation-panel-item
  font-size $font-size-xs
  overflow hidden
  &:nth-child(odd)
    background-color $color-grey-light
    border-radius(3px)

.retirement-simulation-panel-list-header
  clearfix()
  .retirement-simulation-panel-item
    background-color $color-white
    color $color-primary
    font-size $font-size-xxs
    font-weight bold
    border-bottom 1px solid $color-grey
    border-radius(0)

.retirement-simulation-panel-list,
.retirement-simulation-panel-item,
.retirement-simulation-panel-item-detail
  float left
  box-sizing(border-box)

.retirement-simulation-panel-item-detail
  padding 5px
  white-space nowrap
  text-overflow ellipsis
  overflow hidden

.retirement-simulation-panel-item-detail-date
  width 15%

.retirement-simulation-panel-item-detail-deposit
  width 25%

.retirement-simulation-panel-item-detail-profit
  width 30%

.retirement-simulation-panel-item-detail-balance
  width 30%

.retirement-simulation-panel-item-detail-deposit,
.retirement-simulation-panel-item-detail-profit,
.retirement-simulation-panel-item-detail-balance
  text-align right
