@require '_variables'

.symbol-value
  position relative
  display inline-block
  color $color-green
  font-size 3em
  line-height 100%
  &:before,
  &:after
    position absolute
    top 0
    font-size .3em
  &.symbol-value-currency
    &:before
      content '$'
      left -15px
  &.symbol-value-percent
    &:before
      content '%'
      right -20px
  &.symbol-value-year
    margin-bottom 14px
    &:before
      content 'anos'
      top 107.5%
      left 0
      right 0
      line-height .3em
