<form class="retirement-simulation-form" ng-submit="$ctrl.simulate()">
  <div class="retirement-simulation-form-item" ng-repeat="setting in $ctrl.settings">
    <div class="retirement-simulation-form-item-label" ng-bind="setting.title"></div>
    <div class="range">
      <input
        type="range"
        name="{{ setting.type }}"
        ng-model="setting.amount.current"
        min="{{ setting.amount.min }}"
        max="{{ setting.amount.max }}"
        step="{{ setting.amount.step }}" />
    </div>
    <symbol-value data-symbol="{{ setting.amount.symbol }}">
      {{ setting.amount.current | commaDecimal: setting.amount.precision }}
    </symbol-value>
  </div>
  <button type="submit" class="button button-primary">
    Simular
  </button>
</form>
